{% extends 'mainapp/base.html' %}
{% load static %}


{% block conteiner %}
    <body>
    <section class="section-hero bgr-img-cover">
        <header class="flex header header-absolute">
            <nav class="main-nav">
                <ul class="flex main-nav-list">
                    <li>
                        <a href="#">
                            <img class="logo" alt="MindWeb logo" src="{% static 'img/logo.svg' %}"/>
                        </a>
                    </li>
                    <li class="main-nav-list-li">
                        <a class="main-nav-link" href="{% url 'mainapp:service' %}">Услуги.
                            <svg viewBox="0 0 104 52" fill="none" class="svg svg-main-menu">
                                <path
                                        class="path"
                                        d="M42.5 7C42.5 7 15.9999 6 6.99996 12.5C-1.99999 19 1.99999 29.5 3.99997 33.5C5.99994 37.5 9.49997 45 24.5 49C39.5 53 62.5 51 72.9999 49C83.4999 47 92.9999 46.5 99.4999 37.5C106 28.5 103 21.5 91.9999 15C80.9999 8.5 74.3412 7.78516 62.5 5C52.1239 2.55946 35.5 1 35.5 1"
                                />

                            </svg>
                        </a>
                    </li>
                    <li class="main-nav-list-li">
                        <a class="main-nav-link" href="{% url 'mainapp:team' %}">Проекты.
                            <svg viewBox="0 0 104 52" fill="none" class="svg svg-main-menu-big">
                                <path
                                        class="path"
                                        d="M42.5 7C42.5 7 15.9999 6 6.99996 12.5C-1.99999 19 1.99999 29.5 3.99997 33.5C5.99994 37.5 9.49997 45 24.5 49C39.5 53 62.5 51 72.9999 49C83.4999 47 92.9999 46.5 99.4999 37.5C106 28.5 103 21.5 91.9999 15C80.9999 8.5 74.3412 7.78516 62.5 5C52.1239 2.55946 35.5 1 35.5 1"
                                />
                            </svg>
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="flex main-nav-list">
                <button class="btn-nav">Связаться с нами</button>
                <div class="flex burger-menu-block menu-off openNav" id="openNav">
                    <div class="burger-menu openNav">&nbsp;</div>
                </div>
            </div>
        </header>
        <div id="mySidenav" class="sidenav">
            <ul id="myDropdown" class="flex menu__list">
                <li id="closeNav" class="closebtn accent-font closeNav">&times;</li>
                <li class="sidenav-link-mobil">
                    <a href="service.html" id="meLink" class="sidenav-link main-nav-link meLink">
                        Услуги.
                    </a>
                </li>
                <li class="sidenav-link-mobil">
                    <a href="#" id="meLink" class="sidenav-link main-nav-link meLink">
                        Проекты.
                    </a>
                </li>
                <li>
                    <a href="team.html" id="meLink" class="sidenav-link main-nav-link meLink">
                        О нас.
                        <svg viewBox="0 0 104 52" fill="none" class="svg svg-sidenav">
                            <path
                                    class="path"
                                    d="M42.5 7C42.5 7 15.9999 6 6.99996 12.5C-1.99999 19 1.99999 29.5 3.99997 33.5C5.99994 37.5 9.49997 45 24.5 49C39.5 53 62.5 51 72.9999 49C83.4999 47 92.9999 46.5 99.4999 37.5C106 28.5 103 21.5 91.9999 15C80.9999 8.5 74.3412 7.78516 62.5 5C52.1239 2.55946 35.5 1 35.5 1"
                            />
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="service.html" class="main-nav-link sidenav-link ">
                        Тарифы.
                        <svg viewBox="0 0 104 52" fill="none" class="svg svg-sidenav-long">
                            <path
                                    class="path"
                                    d="M42.5 7C42.5 7 15.9999 6 6.99996 12.5C-1.99999 19 1.99999 29.5 3.99997 33.5C5.99994 37.5 9.49997 45 24.5 49C39.5 53 62.5 51 72.9999 49C83.4999 47 92.9999 46.5 99.4999 37.5C106 28.5 103 21.5 91.9999 15C80.9999 8.5 74.3412 7.78516 62.5 5C52.1239 2.55946 35.5 1 35.5 1"
                            />
                        </svg>
                    </a>
                </li>
            </ul>
            <div class="flex menu__list menu__list-mobil">
                <p class="sidenav-contact">+7 911 402 43 89</p>
                <p class="sidenav-contact">info@mind-web.ru</p>
                <div class="flex sidenav-social-media">
                    <img src="{% static 'img/telegram.svg' %}" alt="telegram-icon">
                    <img src="{% static 'img/instagram.svg' %}" alt="instagram-icon">
                </div>
            </div>
        </div>
        <div class="flex hero">
            <h1 class="heading-primary">
                Мы создаем уникальные <br/>и функциональные сайты
            </h1>
            <h1 class="heading-primary-mobile">
                Мы создаем уникальные&nbsp;и функциональные <br> сайты
            </h1>
        </div>
    </section>
    <main>
        <section class="menu-desctop">
            <h2 class="container h2 h2-section">Наши услуги.</h2>
            <div class="menu-fonts grid--menu">
                <div></div>
                <div
                        class="container menu--content link1 bgr-img-cover grid grid--menu"
                        data-id="link1"
                >
                    <div class="flex flex-menu">
                        <h2 class="h2 h2-menu">Сайты под ключ</h2>
                        <p class="menu-p" data-id="0">Индивидуальная разработка сайта</p>
                        <p class="menu-p" data-id="0">Адаптивные сайты на любых устройствах</p>
                        <p class="menu-p" data-id="0">Исследование бизнеса, <br/>конкурентов и целевой аудитории</p>
                        <p class="menu-p" data-id="0">Наполнение контентом <br/>(фото, товары, статьи и т.п.)</p>
                        <div class="flex accent-font menu-accent-content menu-p" data-id="0">
                            <p class="menu-content one">
                                Лендинг
                            <p class="menu-content-hide one-hide">
                                <span class="bold">Лендинг</span>-это особый тип сайтов, оптимизированных для побуждения
                                к действию интернет-пользователя. Традиционный лендинг описывает продукт, его
                                преимущества и указывает на необходимость в приобретении этого продукта.
                            </p>
                            </p>
                            <p class="menu-content two">
                                Корпоративный сайт
                            <p class="menu-content-hide two-hide">
                                <span class="bold">Корпоративный сайт</span>-это многостраничный и многоуровневый сайт,
                                где можно найти полную информацию о фирме, ее руководстве, продукции, истории.
                                Корпоративные сайты привлекают новых клиентов и удерживают старых.
                            </p>
                            </p>
                            <p class="menu-content three">
                                Сайт-визитка
                                <p class="menu-content-hide three-hide">
                                    <span class="bold">Сайт-визитка</span>-небольшой сайт, как правило, состоящий из пяти,
                                    семи веб-страниц и содержащий основную информацию об организации, частном лице,
                                    компании, товарах или услугах, прейскуранты, контактные данные.
                                </p>
                            </p>
                        </div>
                    </div>
                </div>
                <div
                        class="container menu--content link2 bgr-img-cover grid grid--menu"
                        data-id="link2"
                >
                    <div class="flex flex-menu">
                        <h2 class="h2 h2-menu">Информационные порталы и блоги</h2>
                        <p class="menu-p" data-id="1">Адаптивность на мобильных <br/>устройствах</p>
                        <p class="menu-p" data-id="1">
                            Комфортная для чтения <br/>
                            типографика
                        </p>
                        <p class="menu-p" data-id="1">Удобная навигация по темам</p>
                        <p class="menu-p" data-id="1">
                            Возможность ведения блога в <br/>
                            открытом и закрытом режимах
                        </p>
                    </div>
                </div>
                <div
                        class="container menu--content link3 bgr-img-cover grid grid--menu"
                        data-id="link3"
                >
                    <div class="flex flex-menu">
                        <h2 class="h2 h2-menu">Приложения</h2>
                        <p class="menu-p" data-id="2">Анализ рынка и целевой аудитории</p>
                        <p class="menu-p" data-id="2">Исследование пути пользователя</p>
                        <p class="menu-p" data-id="2">Создание стильного интерфейса</p>
                        <p class="menu-p" data-id="2">
                            Разработка удобных и быстрых <br/>
                            мобильных приложений
                        </p>
                    </div>
                </div>
                <div
                        class="container menu--content link4 bgr-img-cover grid grid--menu"
                        data-id="link4"
                >
                    <div class="flex flex-menu">
                        <h2 class="h2 h2-menu">UX/UI дизайн</h2>
                        <p class="menu-p" data-id="3">Создание интерактивного прототипа</p>
                        <p class="menu-p" data-id="3">Дизайн в современном стиле</p>
                        <p class="menu-p" data-id="3">
                            Разработка функционального <br/>
                            интерфейса
                        </p>
                        <p class="menu-p" data-id="3">Работа с цветом и типографикой</p>
                        <p class="menu-p" data-id="3">Дизайн логотипов и визиток</p>
                    </div>
                </div>
                <div class="menu--links accent-font">
                    <div class="flex menu--link" id="link4" data-info="UX/UI дизайн">
                        <p class="menu--link-p">UX/UI дизайн</p>
                    </div>
                    <div class="flex menu--link" id="link3" data-info="Приложения">
                        <p class="menu--link-p">Приложения</p>
                    </div>
                    <div class="flex menu--link" id="link2" data-info="Информационные порталы и блоги">
                        <p class="menu--link-p">Информационные порталы и блоги</p>
                    </div>
                    <div class="flex menu--link menu--link--hide" id="link1" data-info="Сайты под ключ">
                        <p class="menu--link-p">Сайты под ключ</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- menu for tablet -->
        <section class="menu-tablet-section" id="menu">
            <h2 class="container h2 h2-section">Наши услуги.</h2>
            <div class="swiper mySwiperMenu">
                <div class="swiper-wrapper">
                    <div class="flex flex-menu swiper-slide swiper-slide-menu link1">
                        <h2 class="h2 h2-menu h2-menu-lineheight">Сайты под ключ</h2>
                        <div class="flex flex-menu flex-menu-mobil">
                            <p class="menu-p" data-id="0">Индивидуальная разработка сайта</p>
                            <p class="menu-p" data-id="0">Адаптивные сайты на любых устройствах</p>
                            <p class="menu-p" data-id="0">Исследование бизнеса, конкурентов и целевой аудитории</p>
                            <p class="menu-p" data-id="0">Наполнение контентом (фото, товары, статьи и т.п.)</p>
                            <div class="flex accent-font menu-accent-content menu-p" data-id="0">
                                <p class="menu-content one">
                                    Лендинг
                                <p class="menu-content-hide one-hide">
                                    <span class="bold">Лендинг</span>-это особый тип сайтов, оптимизированных для
                                    побуждения к действию интернет-пользователя. Традиционный лендинг описывает продукт,
                                    его преимущества и указывает на необходимость в приобретении этого продукта.
                                </p>
                                </p>
                                <p class="menu-content two">
                                    Корпоративный сайт
                                <p class="menu-content-hide two-hide">
                                    <span class="bold">Корпоративный сайт</span>-это многостраничный и многоуровневый
                                    сайт, где можно найти полную информацию о фирме, ее руководстве, продукции, истории.
                                    Корпоративные сайты привлекают новых клиентов и удерживают старых.
                                </p>
                                </p>
                                <p class="menu-content three">
                                    Сайт-визитка
                                <p class="menu-content-hide three-hide">
                                    <span class="bold">Сайт-визитка</span>-небольшой сайт, как правило, состоящий из
                                    пяти, семи веб-страниц и содержащий основную информацию об организации, частном
                                    лице, компании, товарах или услугах, прейскуранты, контактные данные.
                                </p>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-menu swiper-slide swiper-slide-menu link2">
                        <h2 class="h2 h2-menu h2-menu-lineheight">Информационные порталы и блоги</h2>
                        <div class="flex flex-menu flex-menu-mobil">
                            <p class="menu-p" data-id="1">Адаптивность на мобильных устройствах</p>
                            <p class="menu-p" data-id="1">
                                Комфортная для чтения
                                типографика
                            </p>
                            <p class="menu-p" data-id="1">Удобная навигация по темам</p>
                            <p class="menu-p" data-id="1">
                                Возможность ведения блога в открытом и закрытом режимах
                            </p>
                        </div>
                    </div>
                    <div class="flex flex-menu swiper-slide swiper-slide-menu link3">
                        <h2 class="h2 h2-menu h2-menu-lineheight">Приложения</h2>
                        <div class="flex flex-menu flex-menu-mobil">
                            <p class="menu-p" data-id="2">Анализ рынка и целевой аудитории</p>
                            <p class="menu-p" data-id="2">Исследование пути пользователя</p>
                            <p class="menu-p" data-id="2">Создание стильного интерфейса</p>
                            <p class="menu-p" data-id="2">
                                Разработка удобных и быстрых
                                мобильных приложений
                            </p>
                        </div>
                    </div>
                    <div class="flex flex-menu swiper-slide swiper-slide-menu link4">
                        <h2 class="h2 h2-menu h2-menu-lineheight">UX/UI дизайн</h2>
                        <div class="flex flex-menu flex-menu-mobil">
                            <p class="menu-p" data-id="3">Создание интерактивного прототипа</p>
                            <p class="menu-p" data-id="3">Дизайн в современном стиле</p>
                            <p class="menu-p" data-id="3">
                                Разработка функционального интерфейса
                            </p>
                            <p class="menu-p" data-id="3">Работа с цветом и типографикой</p>
                            <p class="menu-p" data-id="3">Дизайн логотипов и визиток</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            <section class="project-desctop-section">
                <h2 class="container h2 h2-section">Наши проекты.</h2>
                <div class="grid-project grid--2-cols">
                    <div class="project--block">
                        <p class="menu-fonts project-text">Лэндинг для психолога</p>
                        <img src="{% static 'img/macpro.png' %}" class="project-img" alt="landing"/>
                    </div>
                    <div class="project--block">
                        <p class="menu-fonts project-text">Онлайн платформа для IT-специалистов</p>
                        <img src="{% static 'img/it-platform.png' %}" class="project-img" alt="it-platform"/>
                    </div>
                </div>
                </div>
                <p class="h2-section hide-on-mobil">&nbsp;</p>
            </section>
            <!-- scroll project for tablet -->
            <section class="project-tablet-section" id="price">
                <h2 class="container h2 h2-section">Наши проекты.</h2>
                <div class="swiper mySwiperProjects">
                    <div class="swiper-wrapper">
                        <div class="project--block swiper-slide swiper-slide-project">
                            <p class="menu-fonts project-text">Лэндинг для психолога</p>
                            <img src="{% static 'img/macpro.png' %}" class="project-img-swiper-tablet" alt="landing"/>
                        </div>
                        <div class="project--block swiper-slide swiper-slide-project">
                            <p class="menu-fonts project-text">Онлайн платформа для IT-специалистов</p>
                            <img src="{% static 'img/it-platform.png' %}" class="project-img-swiper-tablet" alt="it-platform"/>
                        </div>
                    </div>
                </div>
                <p class="h2-section">&nbsp;</p>
            </section>
    </main>
    <div class="h2-section hide-on-mobil">&nbsp;</div>
    <footer class="container footer">
        <div class="flex footer-section">
            <h2 class="h2-footer">Мы всегда рады сотрудничеству!</h2>
            <p class="text-footer">Заполните, пожалуйста, форму и мы свяжемся с вами в ближайшее время!</p>
            <form action="#" class="flex footer-form">
                <!-- <label for="name">Имя</label> -->
                <input type="text" name="name" id="name" placeholder="Имя" class="input-form">
                <!-- <label for="phone">Телефон</label> -->
                <input type="tel" name="phone" id="phone" placeholder="Телефон" class="input-form">
                <!-- <label for="email">E-mail</label> -->
                <input type="email" name="email" id="email" placeholder="E-mail" class="input-form">
                <!-- <label for="website_type">Тип сайта</label> -->
                <input type="text" name="website_type" id="website_type" placeholder="Тип сайта" class="input-form">

                <label for="policy" class="label-form">
                    <input type="checkbox" name="policy" id="policy" required>
                    <span>Я подтверждаю согласие на обработку персональных данных в соответствии с условиями <span
                            class="policy-span">Политики конфиденциальности</span></span>
                </label>

                <button type="submit" class="button-form">Отправить</button>
            </form>
        </div>
        <div class="grid footer-info grid-mobil-footer">
            <div class="flex footer-info-contact">
                <p>+7 911 402 43 89</p>
                <p>info@mind-web.ru</p>
            </div>
            <nav>
                <ul class="flex footer-info-menu">
                    <li>О нас.</li>
                    <li>Тарифы.</li>
                    <li>Политика конфиденциальности.</li>
                </ul>
            </nav>
            <div class="flex footer-social-media">
                <img src="{% static 'img/telegram.svg' %}" class="icon-social-media" alt="telegram icon">
                <img src="{% static 'img/instagram.svg' %}" class="icon-social-media" alt="instagram icon">
            </div>
        </div>
    </footer>
    </body>
{% endblock %}

