{% extends 'mainapp/base.html' %}
{% load static %}


{% block conteiner %}

    <body>

    {% include 'mainapp/includes/inc__header.html' %}

    <section class="prices-desctop">
        <h2 class="container h2 h2-section">Наши цены.</h2>
        <div class="container grid grid--2-cols price-base-gaps">
            <p class="prices-text">
                Большинство сайтов различаются по цене и срокам, это зависит от
                интерфейса, количества блоков и страниц, технической части.
            </p>
            <p class="prices-text mobile-line">
                Поэтому, утверждение окончательной цены и сроков исполнения происходит
                индивидуально в zoom.
            </p>
            <div class="flex prices-block mobile-line-top">
                <h3 class="purple-font h3-price">Лендинг</h3>
                <div class="grid grid--3-cols price-gaps">
                    <p class="price-header">Услуги</p>
                    <p class="mini price-header">Тариф mini</p>
                    <p class="stansart price-header">Тариф standart</p>
                    <p>Исследование конкурентов</p>
                    <p class="mini"></p>
                    <p class="standart">
                        <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                    </p>
                    <p>Прототип</p>
                    <p class="mini">
                        <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                    </p>
                    <p class="standart">
                        <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                    </p>
                    <p>Индивидуальный дизайн</p>
                    <p class="mini"></p>
                    <p class="standart">
                        <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                    </p>
                    <p>Адаптивный сайт</p>
                    <p class="mini"></p>
                    <p class="standart">
                        <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                    </p>
                    <p>Анимация</p>
                    <p class="mini"></p>
                    <p class="standart">>3 блоков</p>
                    <p>Количество блоков</p>
                    <p class="mini">3-6</p>
                    <p class="standart">6-9</p>
                    <p>Доменное имя</p>
                    <p class="mini">
                        <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                    </p>
                    <p class="standart">
                        <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                    </p>
                    <p>Установка на хостинг</p>
                    <p class="mini">
                        <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                    </p>
                    <p class="standart">
                        <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                    </p>
                    <p>Форма заказа</p>
                    <p class="mini"></p>
                    <p class="standart">
                        <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                    </p>
                    <p>Форма обратной связи</p>
                    <p class="mini">
                        <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                    </p>
                    <p class="standart">
                        <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                    </p>
                    <p>Базовая SEO</p>
                    <p class="mini"></p>
                    <p class="standart">
                        <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                    </p>
                </div>
                <p class="price-block-text">Срок реализации от 3-х недель</p>
                <p class="purple-font h3-price">от 10000 рублей</p>
            </div>
            <div class="flex prices-block mobile-line-top mobile-line-bottom">
                <h3 class="purple-font h3-price">Корпоративный сайт</h3>
                <div class="grid grid--3-cols price-gaps">
                    <p class="price-header">Услуги</p>
                    <p class="mini price-header">Тариф mini</p>
                    <p class="standart price-header">Тариф standart</p>
                    <p>Исследование конкурентов</p>
                    <p class="mini"></p>
                    <p class="standart">
                        <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                    </p>
                    <p>Прототип</p>
                    <p class="mini">
                        <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                    </p>
                    <p class="standart">
                        <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                    </p>
                    <p>Индивидуальный дизайн</p>
                    <p class="mini"></p>
                    <p class="standart">
                        <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                    </p>
                    <p>Адаптивный сайт</p>
                    <p class="mini"></p>
                    <p class="standart">
                        <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                    </p>
                    <p>Анимация</p>
                    <p class="mini"></p>
                    <p class="standart">простая</p>
                    <p>Количество страниц</p>
                    <p class="mini">1-5</p>
                    <p class="standart">5-10</p>
                    <p>Доменное имя</p>
                    <p class="mini">
                        <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                    </p>
                    <p class="standart">
                        <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                    </p>
                    <p>Установка на хостинг</p>
                    <p class="mini">
                        <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                    </p>
                    <p class="standart">
                        <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                    </p>
                    <p>Форма заказа</p>
                    <p class="mini"></p>
                    <p class="standart">
                        <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                    </p>
                    <p>Форма обратной связи</p>
                    <p class="mini">
                        <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                    </p>
                    <p class="standart">
                        <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                    </p>
                    <p>Базовая SEO</p>
                    <p class="mini"></p>
                    <p class="standart">
                        <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                    </p>
                </div>
                <p class="price-block-text">Срок реализации от 6-ти недель</p>
                <p class="purple-font h3-price">от 20000 рублей</p>
            </div>
        </div>
    </section>
    <section class="prices-tablet">
        <h2 class="container h2 h2-section">Наши цены.</h2>
        <div class="container grid price-base-gaps">
            <p class="prices-text">
                Большинство сайтов различаются по цене и срокам, это зависит от
                интерфейса, количества блоков и страниц, технической части.
            </p>
            <p class="prices-text">
                Поэтому, утверждение окончательной цены и сроков исполнения происходит
                индивидуально в zoom.
            </p>
            <!-- swiper is here -->
            <div class="swiper mySwiperPrice">
                <div class="swiper-wrapper">
                    <div class="swiper-slide prices-block-tablet">
                        <div class="swiper-slide flex prices-block">
                            <h3 class="purple-font h3-price">Лендинг</h3>
                            <div class="grid grid--3-cols price-gaps">
                                <p class="price-header">Услуги</p>
                                <p class="mini price-header">Тариф mini</p>
                                <p class="stansart price-header">Тариф standart</p>
                                <p>Исследование конкурентов</p>
                                <p class="mini"></p>
                                <p class="standart">
                                    <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                                </p>
                                <p>Прототип</p>
                                <p class="mini">
                                    <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                                </p>
                                <p class="standart">
                                    <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                                </p>
                                <p>Индивидуальный дизайн</p>
                                <p class="mini"></p>
                                <p class="standart">
                                    <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                                </p>
                                <p>Адаптивный сайт</p>
                                <p class="mini"></p>
                                <p class="standart">
                                    <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                                </p>
                                <p>Анимация</p>
                                <p class="mini"></p>
                                <p class="standart">>3 блоков</p>
                                <p>Количество блоков</p>
                                <p class="mini">3-6</p>
                                <p class="standart">6-9</p>
                                <p>Доменное имя</p>
                                <p class="mini">
                                    <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                                </p>
                                <p class="standart">
                                    <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                                </p>
                                <p>Установка на хостинг</p>
                                <p class="mini">
                                    <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                                </p>
                                <p class="standart">
                                    <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                                </p>
                                <p>Форма заказа</p>
                                <p class="mini"></p>
                                <p class="standart">
                                    <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                                </p>
                                <p>Форма обратной связи</p>
                                <p class="mini">
                                    <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                                </p>
                                <p class="standart">
                                    <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                                </p>
                                <p>Базовая SEO</p>
                                <p class="mini"></p>
                                <p class="standart">
                                    <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                                </p>
                            </div>
                            <p class="price-block-text">Срок реализации от 3-х недель</p>
                            <p class="purple-font h3-price">от 10000 рублей</p>
                        </div>
                    </div>
                    <div class="swiper-slide prices-block-tablet">
                        <div class="flex prices-block">
                            <h3 class="purple-font h3-price">Корпоративный сайт</h3>
                            <div class="grid grid--3-cols price-gaps">
                                <p class="price-header">Услуги</p>
                                <p class="mini price-header">Тариф mini</p>
                                <p class="standart price-header">Тариф standart</p>
                                <p>Исследование конкурентов</p>
                                <p class="mini"></p>
                                <p class="standart">
                                    <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                                </p>
                                <p>Прототип</p>
                                <p class="mini">
                                    <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                                </p>
                                <p class="standart">
                                    <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                                </p>
                                <p>Индивидуальный дизайн</p>
                                <p class="mini"></p>
                                <p class="standart">
                                    <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                                </p>
                                <p>Адаптивный сайт</p>
                                <p class="mini"></p>
                                <p class="standart">
                                    <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                                </p>
                                <p>Анимация</p>
                                <p class="mini"></p>
                                <p class="standart">простая</p>
                                <p>Количество страниц</p>
                                <p class="mini">1-5</p>
                                <p class="standart">5-10</p>
                                <p>Доменное имя</p>
                                <p class="mini">
                                    <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                                </p>
                                <p class="standart">
                                    <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                                </p>
                                <p>Установка на хостинг</p>
                                <p class="mini">
                                    <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                                </p>
                                <p class="standart">
                                    <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                                </p>
                                <p>Форма заказа</p>
                                <p class="mini"></p>
                                <p class="standart">
                                    <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                                </p>
                                <p>Форма обратной связи</p>
                                <p class="mini">
                                    <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                                </p>
                                <p class="standart">
                                    <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                                </p>
                                <p>Базовая SEO</p>
                                <p class="mini"></p>
                                <p class="standart">
                                    <img src="{% static 'img/check_box.svg' %}" alt="checked"/>
                                </p>
                            </div>
                            <p class="price-block-text">Срок реализации от 6-ти недель</p>
                            <p class="purple-font h3-price">от 20000 рублей</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="container footer">
        <div class="flex footer-section">
            <h2 class="h2-footer">Мы всегда рады сотрудничеству!</h2>
            <p class="text-footer">
                Заполните, пожалуйста, форму и мы свяжемся с вами в ближайшее время!
            </p>
            <form action="#" class="flex footer-form">
                <!-- <label for="name">Имя</label> -->
                <input
                        type="text"
                        name="name"
                        id="name"
                        placeholder="Имя"
                        class="input-form"
                />
                <!-- <label for="phone">Телефон</label> -->
                <input
                        type="tel"
                        name="phone"
                        id="phone"
                        placeholder="Телефон"
                        class="input-form"
                />
                <!-- <label for="email">E-mail</label> -->
                <input
                        type="email"
                        name="email"
                        id="email"
                        placeholder="E-mail"
                        class="input-form"
                />
                <!-- <label for="website_type">Тип сайта</label> -->
                <input
                        type="text"
                        name="website_type"
                        id="website_type"
                        placeholder="Тип сайта"
                        class="input-form"
                />

                <label for="policy" class="label-form">
                    <input type="checkbox" name="policy" id="policy" required/>
                    <span
                    >Я подтверждаю согласие на обработку персональных данных в
              соответствии с условиями
              <span class="policy-span">Политики конфиденциальности</span></span
                    >
                </label>

                <button type="submit" class="button-form">Отправить</button>
            </form>
        </div>
        <div class="grid footer-info grid-mobil-footer">
            <div class="flex footer-info-contact">
                <p>+7 911 402 43 89</p>
                <p>info@mind-web.ru</p>
            </div>
            <nav>
                <ul class="flex footer-info-menu">
                    <li>О нас.</li>
                    <li>Тарифы.</li>
                    <li>Политика конфиденциальности.</li>
                </ul>
            </nav>
            <div class="flex footer-social-media">
                <img
                        src="{% static 'img/telegram.svg' %}"
                        class="icon-social-media"
                        alt="telegram icon"
                />
                <img
                        src="{% static 'img/instagram.svg' %}"
                        class="icon-social-media"
                        alt="instagram icon"
                />
            </div>
        </div>
    </footer>
    </body>
{% endblock %}
