{% extends 'mainapp/base.html' %}
{% load static %}


{% block conteiner %}


    <body>

    {% include 'mainapp/includes/inc__header.html' %}

    <section class="team-desctop">
        <h2 class="container h2 h2-section">Наша команда.</h2>
        <div class="container grid grid--3-cols team">
            <div>
                <img src="{% static 'img/anna.jpg' %}" class="team-img" alt="Анна Подрезова"/>
                <p class="name">Анна Подрезова</p>
                <p class="profession">UX/UI дизайнер</p>
            </div>
            <div>
                <img src="{% static 'img/vasilij.jpg' %}" class="team-img" alt="Василий Щербатых"/>
                <p class="name">Василий Щербатых</p>
                <p class="profession">Backend разработчик</p>
            </div>
            <div>
                <img src="{% static 'img/tamara.jpg' %}" class="team-img" alt="Тамара Цэвээн"/>
                <p class="name">Тамара Цэвээн</p>
                <p class="profession">Frontend разработчик</p>
            </div>
        </div>
    </section>
    <section class="team-tablet">
        <h2 class="container h2 h2-section">Наша команда.</h2>
        <div class="swiper mySwiperTeam">
            <div class="swiper-wrapper">
                <div class="flex swiper-slide swiper-slide-team">
                    <img src="{% static 'img/anna.jpg' %}" alt="Анна Подрезова"/>
                    <div>
                        <p class="name">Анна Подрезова</p>
                        <p class="profession">UX/UI дизайнер</p>
                    </div>
                </div>
                <div class="flex swiper-slide swiper-slide-team">
                    <img src="{% static 'img/vasilij.jpg' %}" alt="Василий Щербатых"/>
                    <div>
                        <p class="name">Василий Щербатых</p>
                        <p class="profession">Backend разработчик</p>
                    </div>
                </div>
                <div class="flex swiper-slide swiper-slide-team">
                    <img src="{% static 'img/tamara.jpg' %}" alt="Тамара Цэвээн"/>
                    <div>
                        <p class="name">Тамара Цэвээн</p>
                        <p class="profession">Frontend разработчик</p>
                    </div>
                </div>
            </div>

        </div>
        <!-- </div> -->
    </section>
    <footer class="container footer">
        <div class="flex footer-section">
            <h2 class="h2-footer">Мы всегда рады сотрудничеству!</h2>
            <p class="text-footer">
                Заполните, пожалуйста, форму и мы свяжемся с вами в ближайшее время!
            </p>
            <form action="#" class="flex footer-form">
                
                <input
                        type="text"
                        name="name"
                        id="name"
                        placeholder="Имя"
                        class="input-form"
                />
                <div class="form--input--block">
                <input
                        type="tel"
                        name="phone"
                        id="phone"
                        placeholder="Телефон"
                        class="input-form"
                />
            </div>
                <div class="form--input--block">
                <input
                        type="email"
                        name="email"
                        id="email"
                        placeholder="E-mail"
                        class="input-form"
                />
            </div>
                <input
                        type="text"
                        name="website_type"
                        id="website_type"
                        placeholder="Тип сайта"
                        class="input-form"
                />

                <label for="policy" class="label-form">
                    <input type="checkbox" name="policy" id="policy" required/>
                    <span
                    >Я подтверждаю согласие на обработку персональных данных в
              соответствии с условиями
              <span class="policy-span">Политики конфиденциальности</span></span
                    >
                </label>

                <button type="submit" class="button-form" id="submitButton">Отправить</button>
            </form>
        </div>
        <div class="grid footer-info grid-mobil-footer">
            <div class="flex footer-info-contact">
                <p>+7 911 402 43 89</p>
                <p>info@mind-web.ru</p>
            </div>
            <nav>
                <ul class="flex footer-info-menu">
                    <li>О нас.</li>
                    <li>Тарифы.</li>
                    <li>Политика конфиденциальности.</li>
                </ul>
            </nav>
            <div class="flex footer-social-media">
                <img
                        src="img/telegram.svg"
                        class="icon-social-media"
                        alt="telegram icon"
                />
                <img
                        src="img/instagram.svg"
                        class="icon-social-media"
                        alt="instagram icon"
                />
            </div>
        </div>
    </footer>
    </body>
{% endblock %}
